<div class="topnav bg-dark">
  <div class="topnav-centered">
    <h2 class="text-white">Take Your Job</h2>
  </div>
</div>
<div class="wrapper">
  <div class="wrapped-div">
    <div class="tab-header">
      <h2>Edit Your Details</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form #form="ngForm">

          <div class="form-group">
            <label>Mobile Number</label>
            <input type="number" class="form-control"
                   placeholder="Address" name="mobileNumber"
                   #formmobileNumber="ngModel" [(ngModel)]="obj.mobileNumber" />
            <br>
          </div>
          <div class="form-group">
            <label>Company Name</label>
            <input type="text" class="form-control form-control-xsm"
                   placeholder="Company Name" name="companyName"
                   #formcompanyName="ngModel" [(ngModel)]="obj.companyName" />
            <br>
          </div>
          <div class="form-group">
            <label>Company Address</label>
            <input type="text" class="form-control"
                   placeholder="Company Address" name="companyAddress"
                   #formcompanyAddress="ngModel" [(ngModel)]="obj.companyAddress" />
            <br>
          </div>

          <div class="form-group">
            <label>Company Type</label>
            <input type="text" class="form-control"
                   placeholder="Company Type" name="companyType"
                   #formcompanyType="ngModel" [(ngModel)]="obj.companyType" />
            <br>
          </div>

          <div class="form-group">
            <label>Pincode</label>
            <input type="number" class="form-control"
                   placeholder="Pincode" name="password"
                   #formpincode="ngModel" [(ngModel)]="obj.pincode" />
            <br>
          </div>
          <br>
          <div class="form-group">
            <span [style.padding-left]="'180px'"></span>  <button class="btn btn-info btn-lg btn-block" type="submit" (click)="update()">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

